# requirements file
# note which revision of python, for example 3.9.6
# in this file, insert all the pip install needs, include revision


python-dotenv

llama-index
llama-index-llms-openai
llama-index-embeddings-openai
